@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap');

/* Declare variables */
:root {
  --cta-color: #17b6e5;
  --blue: #004d76;
  --navy: #001f41;
  --main-color: #404041 !important;
  --grey-color: #696969;
  --light-grey-color: #CACACA;
  --header-height: 94px;
}

html {
  font: 300 100%/1.5 'IBM Plex Sans', sans-serif !important;
  letter-spacing: .2px;
  color: var(--main-color);
  margin: 0;
  padding: 0;
  font-weight: 300;
  box-sizing: border-box;
  background-color: #f8fafc;
}

h2, h3, h4 {
  font-family: 'Inconsolata', monospace !important;
  color: var(--blue);
  font-weight: 400;
}

body,
p,
li {
  font-size: 16px;
}

a {
  color: inherit;
  box-sizing: border-box;
}
