@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* Declare variables */
:root {
  --cta-color: #17b6e5;
  --main-color: #404041 !important;
}

body {
  font-family: 'Lato', monospace !important;
  color: var(--main-color);
  margin: 0;
  padding: 0;
}

body,
p,
li {
  font-size: 14px;
}

.container {
  max-width: 1000px !important;
}

footer {
  border-top: 1px solid #e3e3e3;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
}